*
!.eslintrc
!.travis.yml

!bin/**/*
!public/**/*

!server/accounts/**/*
!server/api/**/*
!server/components/**/*
!server/controllers/**/*
!server/core/**/*
!server/lib/**/*
!server/ssl/README.md
!server/*.js

!test/**/*
